$primaryOrange: #fc5500;
$buttonBGBlack: black;
$textColorWS: whitesmoke;
$bgGrey: #252525;

* {
  box-sizing: border-box;
  font-family: "Open Sans Semibold", sans-serif;
  margin: 0;
  padding: 0;
}

ul li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 18px;
  user-select: none;
}

.products-template .tile a {
  padding: 0;
}
