@import "defaultValues";
@import "products-Template";

.bikes-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 80%;

}

.display-options {
    grid-column: 2;
    border-bottom: solid #fc5500;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
}

h2 {
    padding: 20px 0;
}

#sort-options, #items-no {
    font-size: 15px;
    padding: 4px;
    margin: 15px;
}

.filters {
    grid-row: 2;
    padding: 5px 40% 5px 0;
    justify-self: end;

    .by-category, .by-frame-size, .by-suspension, .by-wheel-size, .color-filter {
        color: #fc5500;
    }

    input, label {
        padding: 0 5px;
    }

    ul {
        border-top: solid #fc5500;

        li {
            padding: 5px;
            color: black;
        }
    }

}

.products {
    grid-column: 2;
}

.pagination {
    grid-row: 3;
    grid-column: 2;
    border-top: solid #fc5500;
    padding: 3% 0;

    a {
        transition: background-color .3s ease;
        color: $buttonBGBlack;
        padding: 10px;

        &:hover {
            background-color: $primaryOrange;
        }
    }

    .prev, .next {
        background-color: $bgGrey;
        color: $textColorWS;
    }

}

@media screen and (max-width: 760px) {

    .filters {
    grid-row: 2;
    padding: 5px 2% 5px 0;
    justify-self: end;
    }
}