@import "commonStyle";

.main-container {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: repeat(2, auto);
  margin: 4% 10%;
  grid-gap: 10px;

  button {
    @include buttonStyle($buttonBGBlack, $textColorWS);
  }

  .shop-cart {
    grid-row: 1;
    grid-column: 1 / 3;


    table {
      border-collapse: collapse;
      width: 100%;

      img {
        width: 250px;
        height: 150px;
      }

      tr {
        border-bottom: 1px solid lightgray;
      }

      td {
        text-align: center;
      }
    }

    input[type="number"] {
      width: 30%;
      height: 30%;
    }

    .prod-remove::after {
      content: url('https://api.iconify.design/el:remove.svg?color=%23fc5500&height=16');
      cursor: pointer;
    }
  }

  .coupon-shipping {
    grid-row: 1;
    grid-column: 3 / 4;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 2% 15%;

    * {
      margin: 5px;
    }

    ul li {
      padding: 5px;
    }

    .discount {
      display: flex;
      flex-direction: column;

      input {
        width: 70%;
        height: 40px;
      }
    }

    .shipping .total-price {
      font-size: 24px;
      color: $primaryOrange;
    }

    h2, span {
      display: inline;
    }
  }

  .billing {
    grid-row: 2;
    grid-column: 1 / 3;
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, auto);
    padding: 1% 15%;

    * {
      margin: 3px;
    }

    h2 {
      grid-row: 1;
      grid-column: 1 / 3;
    }

    .country {
      grid-row: 2;
      grid-column: 1 / 3;
    }

    .firstName {
      grid-row: 3;
      grid-column: 1 / 2;
    }

    .lastName {
      grid-row: 3;
      grid-column: 2 / 3;
    }

    .companyName {
      grid-row: 4;
      grid-column: 1 / 3;
    }

    .address {
      grid-row: 5;
      grid-column: 1 / 3;
    }

    .city {
      grid-row: 6;
      grid-column: 1 / 3;
    }

    .state {
      grid-row: 7;
      grid-column: 1 / 2;
    }

    .zip {
      grid-row: 7;
      grid-column: 2 / 3;
    }

    .email {
      grid-row: 8;
      grid-column: 1 / 2;
    }

    .phone {
      grid-row: 8;
      grid-column: 2 / 3;
    }

    .order-notes {
      grid-row: 9;
      grid-column: 1 / 3;
    }

    label {
      display: block;
    }

    p input, select {
      width: 100%;
      height: 40px;
    }

    .order-notes textarea {
      width: 100%;
      height: 60px;
    }

    .country label::after, .firstName label::after, .lastName label::after, .address label::after, .city label::after, .state label::after, .zip label::after, .email label::after, .phone label::after {
      content: "*";
      color: $primaryOrange;
    }
  }

  .checkout-form {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #2c2e31;
    color: $textColorWS;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    * {
      margin: 6px;
    }

    h2 {
      margin-bottom: 50px;
    }

    .card-type {
      display: flex;
    }

    #checkout {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background-color: $primaryOrange;
      margin-bottom: 0;
      font-size: 24px;
    }

    #card-no {
      width: 80%;
      height: 40px;
    }

    #expiry-date, #cvv {
      width: 40%;
      height: 40px;
    }

    .card-type img {
      width: 90%;
      height: 60%;
      cursor: pointer;
    }

    .card-type img:focus {
      background-color: $primaryOrange;
    }

    input[type="radio"] {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 760px) {
  .main-container {
    grid-template-rows: repeat(4, auto);

    .shop-cart {
      grid-row: 1;
      grid-column: 1 / 4;
    }

    .billing {
      grid-row: 2;
      grid-column: 1 / 4;

    }

    .coupon-shipping {
      grid-row: 3;
      grid-column: 1 / 4;

    }

    .checkout-form {
      grid-row: 4;
      grid-column: 1 / 4;

    }
  }
}
