@import "defaultValues";

/*Mixins*/

@mixin buttonStyle($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: $primaryOrange;
  }
}

@mixin quantityInput($width, $height) {
  width: $width;
  height: $height;
}

/*Slide-in buttons*/

@mixin buttonSlide($bgColor) {
  display: grid;
  justify-items: center;
  position: relative;
  button:hover {
    background-color: $primaryOrange;
    cursor: pointer;
  }

  .cart,
  .wishlist {
    animation: .5s ease;
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    background-color: $bgColor;
    opacity: 0;
    position: absolute;
    font-size: 14px;
  }

  @keyframes slide-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:hover .cart {
    animation-name: slide-left;
    animation-fill-mode: forwards;
    top: 15%;
  }

  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:hover .wishlist {
    animation-name: slide-right;
    animation-fill-mode: forwards;
    top: 35%;
  }
}

/*Product style*/
.prod-name {
  color: black;
}

.prod-price {
  color: #fc5500;
}

#to-shop {
  //margin: 10%;
  background-color: $buttonBGBlack;
  color: $textColorWS;
}


/*Common input styles*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
