@import "products-Template";
@import "commonStyle";
@import "bikes.css";

img {
  object-fit: contain;
  width: 80%;
  height: 80%;
  padding-top: 40px;
}

#cart-icon img, #wishlist-icon img {
  padding: 0;
}

.color-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .colorbox {
    width: 50px;

    a {
      display: flex;
    }

    #black {
      background-color: #000000;
    }

    #blue {
      background-color: #00CCCC;
    }

    #red {
      background-color: red;
    }

    #green {
      background-color: green;
    }

    #yellow {
      background-color: yellow;
    }

    #grey {
      background-color: grey;
    }
  }
;

}