* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans Semibold", sans-serif;
}

.site-wrapper {
    display: grid;
    grid-template-rows: 0.35fr 0.1fr 1fr 1fr 1fr 0.2fr;
    grid-auto-rows: minmax(min-content, 100px);
    width: auto;
    height: auto;
}

header {
    background: url("../imglack and white diamond pattern_204025b2.jpg");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-columns: minmax(min-content, 100px);
}

.site-logo img {
    width: 200px;
    height: 150px;
}

ul, li {
    list-style-type: none;
}

.top-menu.items.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: start;
}

.top-menu.items.links li {
    padding: 18px;
}

.top-menu.items.links a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

.top-menu.items.links a:hover {
    color: #fc5500;
}

#user-account {
    display: none;
    position: absolute;
    opacity: 0;
    background-color: black;
}

#user-account li {
    padding: 0;
}

.top-menu li:hover #user-account{
    display: block;
    opacity: 1;
}

.nav-bar {
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-columns: minmax(min-content, 100px);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar li {
    padding: 20px 20px;
}

.nav-bar.menu-items-left, .nav-bar.menu-items-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

.nav-bar.menu-items-right {
    justify-content: end;
}

input[type="search"]{
    background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 3px white;
    padding: 9px 10px 9px 29px;
    width: 25px;
    border-radius: 30px;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    background-color: #fff;
    /*border-color: darkorange;*/
}

.nav-bar.menu-items-right li:first-child a {
    position: relative;
    background: black url(../img/CartLogo.PNG) 2px 6px no-repeat;
    background-size: 50px;
    padding-left: 50px;
    padding-bottom: 32px;
    bottom: 11px;
}

.nav-bar a {
    color: #efefef;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-bar a:hover {
    color: #fc5500;
    /*border: 1px solid #fc5500;*/
}

section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.05);
}

.mid-sec.row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 2% 10%;
}

.card {
    display: grid;
    grid-template-rows: 2fr;
    grid-auto-flow: row;
    transition: 0.5s ease;
    cursor: pointer;
}

.card.one .card-image {
     background: url("../imgpecializedDemo.jpg") center;
     background-size: cover;
 }

.card.two .card-image {
    background: url("../imgcf29c96f726338079475d2ee3b5323a.jpg") center;
    background-size: cover;

}

.card.three .card-image {
    background: url("../imgelchonock180369670.jpg") center;
    background-size: cover;
}

.card-text {
    background-color: white;
}

.card:hover {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
}

.mid-sec.row2 {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
}

.bike-logo ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
}

.bike-logo img {
    border: 0 none;
    display: inline;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.bike-slot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(min-content, 100px);
    grid-auto-flow: column;
    margin: 0 2%;
}



footer {
    background-color: black;
}

.bottom-menu.row {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

footer p {
    color: white;
    font-size: small;
}

@media (max-width: 600px) {
    .top-buttons, .nav-bar .menu-items-left, .menu-items-right  {
        flex-direction: column;
    }

/*    .bike-logo ul li {
        display: flex;
        flex-flow: row wrap;
    }*/
}