* {
    box-sizing: border-box;
    font-family: "Open Sans Semibold";
}

body {
    /*   background-image: url("./../img/robin-wallner,-ålesund,-norway-2016.jpg");*/
    background-color: rgba(0, 0, 0, 0.33);
    text-align: center;
}

#login-screen {
    background-image: url("./../img/robin-wallner,-ålesund,-norway-2016.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 10% 25% 10% 25%;
    width: fit-content;
    height: fit-content;
}

.row.top {
    background-color: white;
    opacity: 70%;
    border-bottom: solid #fc5500;
}

.row.bottom {
    padding-bottom: 0;
}

.column {
    float: left;
}

.column.logo {
    width: 25%;
}

img {
    margin: auto auto;
    width: 150px;
    height: 120px;
}

.column.quote {
    width: 75%;
    text-align: right;
}

blockquote footer{
    text-align: right;
    font-size: small;
}

.column.visual-box img {
    width: 100%;
    height: 100%;
}

.column.login-box {
    width: 40%;
    height: 100%;
    background-color: #efefef;
    text-align: center;
    float: right;
    padding-top: 30px;
}

h2 {
    display: block;
    color: #fc5500;
    text-align: center;
    margin-bottom: 30px;
    /*padding-top: 30px;*/
}

form input, button {
    margin: 7px auto;
}

form label {
    margin-bottom: 1px;
}

form label:not(#remember-label), input:not(#remember-me), button {
    display: block;
}

input[type="email"], input[type="password"]{
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

button {
    background-color: #fc5500;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    height: 35px;
}

#new-user-link {
    margin-top: 20px;
    margin-bottom: 96px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.logo, .column.quote, .column.visual-box, .column.login-box {
        width: 100%;
    }
    /*  button {
          width: 100%;
          height: auto;
      }
      input[type="email"], input[type="password"]{
          width: 100%;
          height: auto;
      }*/
}

